// add color variables

$COLOR_WHITE: #fff;

$COLOR_BLUE_2: #69a6ce;
$COLOR_BLUE_3: #3b60e4;
$COLOR_BLUE_12: #edf0fd;
$COLOR_BLUE_15: #2a49b6;

$COLOR_RED_2: #ff0000;
$COLOR_RED_4: #dc3545;

$COLOR_GRAY_3: #bfbfbf;
$COLOR_GRAY_6: #eeeeee;
$COLOR_GRAY_2: #9a9a9a;

$COLOR_ORANGE_1: #ff4d00;

$COLOR_GRAY_SHADOW_2: #00000080;
$COLOR_GRAY_SHADOW_3: #edf0fd80;
$COLOR_TRANSPERANT: #0000;

$FONT_SIZE_12: 12px;

$FONT_SIZE_14: 14px;

$FONT_SIZE_16: 16px;

$FONT_SIZE_20: 20px;

$FONT_SIZE_40: 40px;

$COLOR_BLACK_1: #000000;
$COLOR_BLACK_3: #797979;
$COLOR_BLACK_4: #525252;

$breakpoint_mobile_1: 425px;
$breakpoint_tablet: 768px;
